@model Agrokultura.Models.ContractPlot

@{
    ViewData["Title"] = "Details";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji Ugovora i parcela</h1>

        <dl class="row form-group-update_create">
        <dt class = "col-sm-4">
           Ugovor 
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Contract.Name)
        </dd>
        <dt class = "col-sm-4">
            Parcela
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Plot.Name)
        </dd>
    </dl>
        <div class="btn edit-data-btn">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </div>


        <div class="btn back-to-list">
            <a asp-action="Index">Natrag</a>
        </div>
    </div>

</div>